#friendsList {
    display: flex;
    flex-flow: column nowrap;
    padding: 6px;
}

#friendsList .friend {
    display: flex;
    background: #f4faff29;
    margin: 6px;
    padding: 2px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-weight: bold;
}
