#settingsContainer {
    padding: 12px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#settingsContainer .field {
    display: flex;
    flex-flow: row nowrap;
    margin: 12px;
}

#settingsContainer .label {
    margin: 0 4px;
}

#settingsContainer .token {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    background: #2e6489;
    color: white;
    font-family: monospace;
    border: 1px solid white;
    border-radius: 4px;
    word-break: break-all;
    max-width: 600px;
}

#settingsContainer .column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#invites {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

#invites .title {
    font-weight: bold;
}

#invites .invite {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#invites .invite .item {
    margin: 12px;
}

#invites .invite a {
    word-break: break-all;
}
